# {{ template_destpath }}
# {{ ansible_managed }}

define bgp_ip = {{ bird_ip }};
router id bgp_ip;

protocol device {}

{{ bird_conf }}

{% for rule in bird_bgp_neighbors %}
{%    for nbr, ip in rule.neighbors.items() %}
protocol bgp {{ rule.name }}_{{ nbr }} from {{ rule.template }} { neighbor {{ ip }}; }
{%   endfor %}

{% endfor %}
