# {{ ansible_managed }}
# Firewall rules for bird service

{%- macro ipt(rule, action='A', chain='in_bgp', onStop=False, canFail=False) -%}
{%    set pfx = 'ExecStopPost' if onStop else 'ExecStartPre' %}
{%    set fail = '-' if canFail else ' ' %}
{{ pfx }}={{ fail }}!/usr/sbin/iptables  -{{ action }} {{ chain }} {{ rule }}
{{ pfx }}={{ fail }}!/usr/sbin/ip6tables -{{ action }} {{ chain }} {{ rule }}
{%- endmacro %}

[Service]
# Create custom chain
{{ ipt('', 'N', canFail=True) }}
{{ ipt('', 'F') }}
{% set chain_ref = '-i ' ~ bgp_iface ~ ' -j in_bgp' %}
{{ ipt(chain_ref, 'D', 'INPUT', canFail=True) }}
{{ ipt(chain_ref, 'A', 'INPUT') }}

# Populate chain with rules
{% for rule in bgp_ports | d %}
{{ ipt('-p ' ~ rule.proto ~ ' --dport ' ~ rule.port ~ ' -j ACCEPT -m comment --comment ' ~ rule.name) }}
{% endfor %}

# Cleanup
{{ ipt(chain_ref, 'D', 'INPUT', canFail=True, onStop=True) }}
{{ ipt('', 'F', onStop=True) }}
{{ ipt('', 'X', canFail=True, onStop=True) }}

